/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/.idea/
*.php~
/app/Resources/uploads/files/lecture/slides/*
!/app/Resources/uploads/files/lecture/slides/.gitkeep
/app/Resources/uploads/files/homework/assignments/*
!/app/Resources/uploads/files/homework/assignments/.gitkeep
/web/assets/custom-bootstrap/node_modules/
