<div class="pull-right">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-link"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
    {{ form_end(form) }}
</div>
